<section class="vh-100 formulario">
    <div class="container py-5 h-100">

        <div class="row d-flex align-items-center justify-content-center h-100">
            <div class="col-md-8 col-lg-7 col-xl-6 d-sm-none d-md-block d-none d-sm-block">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg"
                    class="img-fluid" alt="Phone image">
            </div>
            <div class="col-md-4 col-lg-4 col-xl-4 offset-xl-1">
                <div class="card" >
                    <div class="card-body">
                        <form [formGroup]="loginForm" (ngSubmit)="onLogin()" >
                            <div class="form-outline mb-4">
                                <label class="form-label" for="RUN">RUN</label>
                                <input type="text" formControlName="username" class="form-control form-control-lg"
                                    placeholder="Ingrese su RUN" required run />
                                <div *ngIf="(username?.dirty || username?.touched ) && !validarRut() "
                                    class="text-danger">
                                    Formato
                                    del RUN inválido </div>
                            </div>
                            <div class="form-outline mb-4">
                                <label class="form-label" for="password">Contraseña</label>
                                <input formControlName="password" type="password" id="password"
                                    class="form-control form-control-lg" required placeholder="password" />
                                <div *ngIf="(password?.dirty || password?.touched) && !password?.valid"
                                    class="text-danger">
                                    Su clave debe contar mínimo con 5 caracteres</div>
                            </div>
                            <div class="d-grid gap-2 col-12 mx-auto">
                                <button class="btn btn-primary btn-lg btn-block" type="submit"
                                    [disabled]="!loginForm.valid">Login</button>
                            </div>
                            <div class=" text-center pt-4">
                                <a href="#!">¿Olvido su contraseña?</a>
                            </div>
                            <div class="divider d-flex align-items-center my-2">
                            </div>
                            <div class=" text-center">
                                <p class="small text-muted">¿Eres nuevo en el Portal Empresas?</p>
                                <a href="#!">Cosulte el manual de usuario</a>
                                <p><i class="bi bi-rainbow fs-1"></i>MyEmpresa</p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>